.cart-container {
  position: fixed;
  top: -100%; 
  left: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.6s ease-in-out;
}

.cart-container.active {
  top: 0;
}

 .cart {
  background-color:#000000;
  padding: 30px 40px;
  border-top: 1px solid #222;
}


.cart h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cart-item button {
    background: transparent;
  color:#e63b3b;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}



.checkout-btn {
  background:#13473B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.checkout-btn:hover {
  background: #005ccc;
}

