.cart-container {
  position: fixed;
  top: -100%; 
  left: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.6s ease-in-out;
}

.cart-container.active {
  top: 0;
}

 .cart {
  background-color:#000000;
  padding: 30px 40px;
  border-top: 1px solid #222;
}


.cart h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cart-item button {
    background: transparent;
  color:#e63b3b;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}



.checkout-btn {
  background:#13473B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.checkout-btn:hover {
  background: #005ccc;
}

@media (max-width: 992px) {
  .cart {
    padding: 25px 25px;
    max-width: 90%;
  }

  .cart-item span {
    font-size: 15px;
  }

  .checkout-btn {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .cart {
    padding: 20px;
    max-width: 100%;
    border-radius: 0;
    border-top: none;
  }

  .cart h2 {
    font-size: 20px;
    text-align: left;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .cart-item span {
    font-size: 14px;
  }

  .checkout-btn {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    padding: 10px;
  }
}