.product-card:hover {
  transform: translateY(-6px);
  border-color: #007bff33;
  box-shadow: 0 0 15px #007bff33;
}

.product-card h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.product-card p {
  color:#fff;
  font-size: 1rem;
  margin-bottom: 15px;
}

.product-card button {
  background:#13473B;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card button:hover {
  background:#13473B;
}
.slider-container {
  position: relative;
  width: full;
  padding: 50px 0;
}

.product-slider {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.product-slider::-webkit-scrollbar {
  display: none;
}

/* Cards */
.product-card {
  min-width: 30%;
  background: #000;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Images */
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}
.product-card img:hover {
  transform: scale(1.05);
}

/* Circular arrow buttons */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.slider-btn:hover {
  background: rgba(255,255,255,0.4);
}

/* Left button */
.slider-btn.left {
  left: 10px;
}

/* Right button */
.slider-btn.right {
  right: 10px;
}
.add-btn.added {
  background: #444;
  color: white;
  transition: 0.3s ease;
}
