* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
}


.gradient-text {
  background: linear-gradient(to bottom, black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 60px 0;
    text-transform: uppercase;
}


/*  Receipt Modal */
.receipt-modal {
  background: #121212;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 0 20px #00c85333;
}

.receipt-modal h2 {
  color: #134735;
  margin-bottom: 10px;
}

.receipt-modal p {
  color: #ccc;
  margin: 8px 0;
}


@media (max-width: 768px) {
  .product-grid {
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .cart {
    padding: 20px;
  }

  .checkout-form {
    width: 80%;
  }
}
